html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F6F5EA;
  font-family: "Inter", sans-serif;
}

#header1{
  background-color: #C8EDDA;
  color: black;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#logo{
  margin-left:20px;
  
}
#criarConta{
  font-weight: bold;
  margin-left: 100px;
}
#entrar{
  margin-left: 80px;
  color:white;
  font-weight:bold;
  background-color:#558D3D;
  border: 10px solid #558D3D;
  border-radius: 15px;
}
.cabecalho{
  margin-left:60px;
  font-size: 18px;
  cursor: pointer;
}
#anuncio1 {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #558D3D;
  border-radius: 30px;

  display: flex;
  flex-direction: row;        
  align-items: center;       
  justify-content: center;    
  gap: 40px;                  
}

#setas {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  position:absolute;
}

.textoBox {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

#salada {
  display: block;
}
#titulo1 {
  margin-top: 100px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
#subtitulo1 {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}
#pesquisa1{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #558D3D;
  padding-left: 50px;
  font-size: 16px;
}
#pin{
  position: absolute;
  margin-left: calc(50% - 275px);
  margin-top: 20px;
}
#rodape{
  background-color: #C8EDDA;
  height:200px;
  width:100%;
  margin-top:500px;
  text-align: center;
  padding-top:100px;
}
#caixalogin{
  background-color:#C8EDDA;
  width:33.3333%;
  height:460px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 30px;
  
}
#caixalogin h1{
  text-align:center;
  padding-top: 30px;
  margin-bottom: 30px;
}
#caixalogin h2{
  text-align: left;
  cursor: pointer;
  position:absolute;
  margin-left: 20px;
  margin-top: 32.5px;
}
#caixalogin p{
  margin-left: 50px;
  font-size: 18px;
  margin-bottom: 10px;
}
#caixalogin input{
  display: block;
  width: 80%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 2px solid #558D3D;
  padding-left: 10px;
  font-size: 16px;
}
#loginGoogle{
  width: 80%;
  height:60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color:white;
  border-radius:15px;
  cursor: pointer;
}
#loginGoogle p{
  position:relative;
  top: 17.5px;
  left:30px;
  font-weight:bold;
}
#google{
  margin-top:12.5px;
  margin-left:15px;
  position:absolute
}
#loginGoogle #entrar{
  width:50%;
  margin-top:60px;
}
#maisPedidos{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
}
#maisPedidos p{
  position:absolute;
  font-size: 24px;
  font-weight: bold;
  left: 180px;
}
.container {
  width: 250px;
  height: 150px;
  border-radius: 30px;
  margin-top:80px;
  overflow: hidden;
}
.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#pokeTexto{
  margin-left:175px;
}
#saladaTexto{
  margin-left:145px;
}
#carneTexto{
  margin-left:160px;
}
#pokePreco{
  margin-left:185px;
}
#saladaPreco{
  margin-left:245px;
}
#carnePreco{
  margin-left:245px;
}
.precoComida{
  font-size: 20px;
  font-weight: bold;
  color:#558D3D
}
.nomeComida{
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

